.canvas {
    width: 300px;
    height: 300px;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    right: 50%;
}

.field {
    width: 90px;
    height: 90px;
    float: left;
    margin: 5px;
}

.symbol {
    font-family: "Arial", serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 70px;
    font-family: "Yu Gothic", serif;
    color: #ece6e6;
    text-align: center;
}

#winnerText {
    font-size: 30px;
    font-family: "Yu Gothic", serif;
    color: #ece6e6;
    text-align: center;
}

#restartButton {
    font-size: 25px;
    font-weight: bold;
    font-family: "Yu Gothic", serif;
    margin: 0 auto;
    display: block;
}

body {
    background-color: #151414;
    user-select: none;
}